language: python
sudo: false
branches:
  only:
    - master
python:
  - "3.6"
install:
  - sudo apt-get update
  - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda update -q conda --yes
  - conda update --all --yes
  - conda info -a
  - conda create -q -n atm python=$TRAVIS_PYTHON_VERSION -c defaults -c conda-forge --file requirements_travis.txt --yes
  - source activate atm

script: 
  - py.test atm --cov=atm

after_success:
  - coveralls
